html {
	background-image: url(https://i.pinimg.com/originals/a8/05/4b/a8054bd49daa169530dcb99b0c606a66.gif);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

* {
	box-sizing: border-box;
}

p, ul {
	padding: 0px 20px;
	font: 16pt Times;
	letter-spacing: 3px;
	margin: 0px;
}

a {
	color: white;
	text-decoration: none;
}

nav {
	text-align: center;
	background: #cd7ab8;
	padding: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 10px;
	position: fixed;
	top: 0;
	width: 100%;
}

footer {
	background: #6e375e;
	padding: 30px;
	color: white;
	font-size: 13px;
	letter-spacing: 3px;
	text-align: center;
}

body {
	margin:0px;
}

span {
	white-space: pre;
}

h1 {
	text-align: center;
	font-family: 'Cinzel Decorative', Times;
	text-transform: uppercase;
}

h2 {
	text-align: center;
	font-family: 'Cinzel Decorative', Times;
	letter-spacing: 3px;
}

.border {
	border: 10px solid transparent;
	border-image: url(misc/border.png) 30 stretch;
}

/* This is the section in the middle that holds the content of the page */
.content {
	min-height: 100vh;
	background-color: rgba(255, 213, 227, 0.637);
	width: 1000px;
	padding: 50px;
	margin: auto;
}

.button {
	display: block;
	margin: 20px auto;
	border:none;
	font:bold 14pt 'Cinzel Decorative';
	color:rgb(255, 255, 255);
	background-color:rgb(190, 97, 152);
	line-height: 40px;
	width:22%;
	border-radius: 6px;
	text-align: center;
}