html {
	background-image: url(https://i.pinimg.com/originals/a8/05/4b/a8054bd49daa169530dcb99b0c606a66.gif);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

* {
	box-sizing: border-box;
}

p, ul {
	padding: 0px 20px;
	font: 16pt Times;
	letter-spacing: 3px;
	margin: 0px;
}

a {
	color: white;
	text-decoration: none;
}

body {
	margin:0px;
}

span {
	white-space: pre;
}

h1 {
	text-align: center;
	font-family: 'Cinzel Decorative', Times;
	text-transform: uppercase;
}

h2 {
	text-align: center;
	font-family: 'Cinzel Decorative', Times;
	letter-spacing: 3px;
}

.border {
	border: 10px solid transparent;
	border-image: url(misc/border.png) 30 stretch;
}

/* This is the section in the middle that holds the content of the page */
.content {
	min-height: 100vh;
	background-color: rgba(255, 213, 227, 0.637);
	width: 1000px;
	padding: 50px;
	margin: auto;
}

.button {
	display: block;
	margin: 20px auto;
	border:none;
	font:bold 14pt 'Cinzel Decorative';
	color:rgb(255, 255, 255);
	background-color:rgb(190, 97, 152);
	line-height: 40px;
	width:22%;
	border-radius: 6px;
	text-align: center;
}

.dark-mode .button{
	background-color:rgb(38, 52, 95);
	border:none;
}

.dark-mode .content{
	background-color: rgba(34, 34, 34, 0.671);
	color: white;
}

.dark-mode{
	background-image: url(https://static.vecteezy.com/system/resources/previews/042/056/318/non_2x/8bit-pixel-art-night-sky-game-space-landscape-vector.jpg);
	background-position: center;
	background-attachment: fixed;
}




